<div class="course-list">
  <div *ngIf="!courses || courses.length === 0" class="courses-list__empty">
    <app-info [title]="'Your list is empty'" [text]="'Please add new courses.'">
      <app-button [buttonText]="'Add new course'"></app-button>
    </app-info>
  </div>

  <app-course-card
    *ngFor="let course of courses"
    [course]="course"
    [editable]="editable"
    (showCourse)="onShow($event)"
    (editCourse)="onEdit($event)"
    (deleteCourse)="onDelete($event)"
  >
  </app-course-card>
</div>