<app-header>
  <span class="username">Anna</span>
  <app-button buttonText="Logout" iconName="logout"></app-button>
</app-header>
<div class="app-root">

<app-info title="Your List Is Empty" text="Please, use 'Add new course' button to add your first course">
  <app-button buttonText="Add new course"></app-button>
</app-info>

<app-course-list
  [courses]="courses"
  [editable]="true"
  (showCourse)="onShowCourse($event)"
  (editCourse)="onEditCourse($event)"
  (deleteCourse)="onDeleteCourse($event)"
></app-course-list>

<app-course-info [course]="courses[0]"></app-course-info>
<app-login-form></app-login-form>
<app-registration-form></app-registration-form>
</div>
