<app-search 
  [placeholder]="'Search courses...'" 
  (search)="onSearch()">
</app-search>

<app-course-info
  *ngIf="(courses$ | async)?.length === 0"
  title="Your List Is Empty" 
>
<app-button 
  *ngIf="isAdmin$ | async" 
  buttonText="Add new course" 
  (click)="onAddCourse();">
</app-button>
</app-course-info>

<app-course-list
  *ngIf="!(isLoading$ | async) && ((courses$ | async) || []).length > 0"
  [courses]="(courses$ | async) || []"
  [editable]="(isAdmin$ | async) || false"
  (showCourse)="onShow($event)"
  (editCourse)="onEdit($event)"
  (deleteCourse)="onDelete($event)">
</app-course-list>
